.landingBlock {
  display: flex;
  justify-content: space-between;
}

.customer {
  margin-left: 1%;
  margin-right: 10%;
  margin-top: 15%;
  width: 40%;
}

.button {
  height: 5%;
  margin: 0 auto;
  margin-top: 23%;
  padding: 1%;
  background-color: #2e3745;
  color: aliceblue;
  text-align: center;
}

.p{
  word-spacing: 10px;
  margin-bottom: -.5%;
}